.about-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.skill{
  font-size: 22px;;
  background-color: blue;
  text-align: center;
}
.skill:hover{
  background-color: orange;
}

.experience{
  margin-top: 28px;
}
