.about-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.skills-grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.skill {
  color: black;
  font-size: 22px;
  background-color: rgb(97, 175, 244);
  text-align: center;
  border-radius: 6px;
}

.experience {
  margin-top: 28px;
  margin-bottom: 20px;
}
