/* Reset & Base Styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   font-family: 'roboto';
   background-color: #f9f9f9;
   color: #333;
   line-height: 1.6;
 }
 
 .container{
  padding: 20px;
  height: 100vh;

 }
 nav {
   background-color: rgb(197, 179, 179);
   padding: 1rem 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 100;
 }

 .nav-list{
  display: flex;
  list-style-type: none;
 }
 
 nav a {
   color: #ffffff;
   text-decoration: none;
   margin: 0 1rem;
   transition: color 0.3s ease;
 }
 
 nav a:hover {
   color: #00bcd4;
 }
 
 .welcome{
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: bold;
 }

 .intro{
  padding: 12px;
 }

 .intro-text{
  font-size: 28px;;
 }
 
 .view-my-projects{
  margin-top: 18px;
  padding: 8px;
  color: black;
  background-color: blue;
  text-decoration: none;
 }
 .footer {
   background-color: transparent;
   color: rgb(103, 90, 90);
   text-align: center;
   padding: 1.5rem 0;
   margin-top: 4rem;
 }
 
 .flex-footer-elements{
  display: flex;
  justify-content: center;
 }

 .link-cont{
  display: flex;
  justify-content: center;
  
 }

 .icon-style{
  align-self: center;
 }

 .link-style{
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(103, 90, 90);
 }